/* custom calendar */

/* Container */
.custom-date-picker {
  position: relative;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

/* Trigger Box */
.custom-date-picker .date-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: white;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  color: var(--color-black);
  font-weight: 700;
  transition: border 0.2s ease;
}

.dark-mode .custom-date-picker .date-trigger {
  background: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue-light);
  color: white;
}

.custom-date-picker.active .date-trigger {
  border-color: var(--color-primary);
}

/* Calendar Popup */
.custom-date-picker .calendar-popup {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background: white;

  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 100;

  /* Hidden State */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.dark-mode .custom-date-picker .calendar-popup {
  background: var(--color-dark-blue);
}

.custom-date-picker.active .calendar-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Calendar Header */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  color: var(--color-black);
  font-weight: 700;
}

.dark-mode .custom-date-picker .calendar-header {
  color: white;
}

/* Month Arrows */
.calendar-header img {
  cursor: pointer;
  padding: 5px;
}

.calendar-header img:hover {
  filter: brightness(1.5);
}

/* The Grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px 0;
  text-align: center;
}

/* Day Item */
.calendar-day {
  font-size: 12px;
  color: var(--color-black);
  cursor: pointer;
  padding: 5px 0;
  font-weight: 700;
}

.custom-date-picker .calendar-day:hover {
  color: #7c5dfa;
}
.dark-mode .calendar-day {
  color: var(--color-light-gray);
}

/* Selected Day */
.calendar-day.selected {
  color: #7c5dfa;
}

/* Empty slots (padding for start of month) */
.calendar-day.empty {
  cursor: default;
  pointer-events: none;
}
