/* Main Details Wrapper */
.invoice-details {
  width: 100%;
  max-width: 730px;
}

/* Header Section */
.invoice-details-header {
  margin: 50px 0 32px;

  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode .invoice-details-header {
  background: var(--color-dark-blue);
}

.invoice-details-header .invoice-details--status {
  display: flex;
  align-items: center;
  gap: 16px;
}

.invoice-details-header .invoice-details--status .btn-status {
  cursor: auto;
}

.invoice-details-header .invoice-details-buttons {
  display: flex;
  gap: 16px;
}

.invoice-container .invoice-details-buttons--mobile {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-block: 12px 24px;
  background-color: #fff;
  width: 100%;
}

.dark-mode .invoice-container .invoice-details-buttons--mobile {
  background-color: var(--color-dark-blue);
}

/* Content Body */
.invoice-details-content {
  background: #ffffff;
  padding: 48px;
  border-radius: 10px;
}

.dark-mode .invoice-details-content {
  background: var(--color-dark-blue);
}

.invoice-details-content .bill-from {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.invoice-details-content .bill-to {
  display: flex;
  flex-direction: row;
  gap: 96px;
}

.invoice-details-content .bill-to .date {
  margin-bottom: 32px;
}

.invoice-container .details-info-top .sent-to-mobile {
  display: none;
}

/* Pricing Table Area */
.invoice-details-content .details-pricing {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  background: var(--color-bg-light);
  padding: 24px;
  border-radius: 10px 10px 0 0;
  gap: 85px;
}

.dark-mode .invoice-details-content .details-pricing {
  background: var(--color-dark-blue-light);
}

/* Shared styles for pricing columns */
.invoice-details-content .details-pricing .names,
.invoice-details-content .details-pricing .quantity,
.invoice-details-content .details-pricing .price,
.invoice-details-content .details-pricing .total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}

/* Targets the first column (names) to fill space */
.invoice-details-content .details-pricing div:nth-child(1) {
  flex-grow: 1;
}

/* Footer / Grand Total */
.invoice-details-content .amount-due {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  padding: 8px 16px;
  background: var(--color-light-black);
  color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.dark-mode .invoice-details-content .amount-due {
  background: var(--color-black);
}

.invoice-details-content .amount-due .body-m {
  color: #ffffff;
}
