.invoice-container {
  width: 100%;
  overflow: hidden;
  margin: 75px auto;
  padding-left: 103px;

  position: relative;
  flex-grow: 1;
  .slider {
    display: flex;
    width: 200%;
    transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);

    &.show-details {
      transform: translateX(-50%);

      .panel {
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
  }

  .panel {
    width: 50%;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease;

    &:first-child {
      opacity: 1;
    }
    &:last-child {
      opacity: 0;
    }
  }

  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 730px;

    .invoice-header-left {
      .invoice-header-left--title {
        margin-bottom: 0;
      }
    }

    .invoice-header-right {
      display: flex;
      gap: 48px;

      .filter-container {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .filter-container {
        #filter {
          cursor: pointer;
          width: 130px;
          background: none;
          background-image: url('../assets/icon-arrow-down.svg');
          background-repeat: no-repeat;
          background-position: right;
          border: none;
          color: white;
          font-size: 15px;
          font-weight: 700;
          line-height: 15px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
  }

  .invoice-content {
    display: flex;
    margin-top: 72px;
    height: 100%;
    width: 100%;
    max-width: 730px;

    .invoices {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      max-width: 730px;

      .invoice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        background: #1e2139;
        border-radius: 16px;
        cursor: pointer;
        transform: translateY(0);
        transition:
          transform 0.2s ease,
          box-shadow 0.2s ease,
          border 0.2s ease;
        border: 1px solid transparent;

        &:hover {
          transform: translateY(-2px);
          border: 1px solid var(--color-primary);
          box-shadow:
            0 0 2px #7c5dfa28,
            0 0 4px #7c5dfa28,
            0 0 6px #7c5dfa28,
            0 0 8px #7c5dfa28;
        }

        .invoice-left {
          display: flex;
          align-items: center;
          gap: 48px;
        }

        .invoice-right {
          display: flex;
          gap: 24px;
          align-items: center;
        }

        .btn-status {
          cursor: pointer;
        }
      }
    }
    .empty {
      text-align: center;
      margin: 75px auto 0;

      .empty-img {
        margin-bottom: 48px;
      }

      .empty-title {
        margin-bottom: 28px;
      }

      p {
        max-width: 28ch;
        line-height: 24px;
      }
    }
  }
}
