/* Container & Layout */
.invoice-container {
  width: 100%;
  overflow: hidden;
  margin: 75px auto;
  padding-left: 103px;
  position: relative;
  flex-grow: 1;
}

/* Slider Mechanism */
.invoice-container .slider {
  display: flex;
  align-items: flex-start;
  width: 200%;
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.invoice-container .slider.show-details {
  transform: translateX(-50%);
}

/* Panels & Visibility Logic */
.invoice-container .panel {
  width: 50%;
  flex-shrink: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 1s ease;
  opacity: 1;
}

.invoice-container .panel-hide {
  display: none;
}
.invoice-container .panel-invisible {
  opacity: 0;
}

/* Header Section */
.invoice-container .invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 730px;
}

.invoice-container .invoice-header-left--title {
  margin-bottom: 0;
}

.invoice-container .invoice-header-right {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* Filter Styling */
.invoice-container .filter-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.invoice-container #filter {
  cursor: pointer;
  width: 130px;
  background: none;
  background-image: url('../assets/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right;
  border: none;

  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dark-mode .invoice-container #filter {
  color: white;
}

/* Invoice List Content */
.invoice-container .invoice-content {
  display: flex;
  padding-block: 72px;
  /* height: 100%; */
  width: 100%;
  max-width: 730px;
}

.invoice-container .invoices {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 730px;
  display: none;
}

/* Individual Invoice Card */
.invoice-container .invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  transform: translateY(0);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border 0.2s ease;
  border: 1px solid transparent;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.dark-mode .invoice-container .invoice {
  background: #1e2139;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.invoice-container .invoice:hover {
  transform: translateY(-2px);
  border: 1px solid var(--color-primary);
  box-shadow:
    0 0 2px #7c5dfa28,
    0 0 4px #7c5dfa28,
    0 0 6px #7c5dfa28,
    0 0 8px #7c5dfa28;
}

.invoice-container .invoice-left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.invoice-container .invoice-right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.invoice-container .btn-status {
  cursor: pointer;
}

/* Empty State */
.invoice-container .empty {
  text-align: center;
  margin: 75px auto 0;
  display: none;
}

.invoice-container .empty-img {
  margin-bottom: 48px;
}

.invoice-container .empty-title {
  margin-bottom: 28px;
}

.invoice-container .empty p {
  max-width: 28ch;
  line-height: 24px;
}

@media screen and (max-width: 900px) {
  /* invoices */
  .invoice-container {
    padding-left: 0;

    max-width: 768px;
    padding: 20px;
  }

  .invoice-container .invoices .invoice-left {
    gap: 32px;
  }
}

@media (max-width: 700px) {
  .invoice-container .details-info-top .bill-from {
    flex-direction: column;
    align-items: flex-start;
  }
  .invoice-container .details-info-top .sent-to-mobile {
    display: block;
  }
  .invoice-container .details-info-top .sent-to {
    display: none;
  }
}

@media (max-width: 666px) {
  .invoice-container .invoice .invoice-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .invoice-container .invoice .invoice-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }
  .invoice-container .invoice img {
    display: none;
  }

  .invoice-container .invoice-right .btn-status {
    padding-block: 10px;
  }
}

@media (max-width: 585px) {
  .invoice-container #filter {
    width: 86px;
  }
  .invoice-container .invoice-header {
    display: block;
  }

  .invoice-container .invoice-header .invoice-header-right {
    gap: 24px;
  }

  .invoice-container .invoice-details-buttons--mobile {
    display: flex;
  }
}
