.main-container {
  min-height: 100vh;
  display: flex;
}

.nav-container {
  width: 103px;
  background-color: var(--color-dark-blue);
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 16px 16px 0;
  position: fixed;
  height: 100vh;
  z-index: 1;

  .logo {
    background: var(--color-primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 32px;
    border-radius: 0 16px 16px 0;
    position: relative;

    img {
      z-index: 1;
      height: 40px;
      width: 40px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: var(--color-primary-light);
      border-radius: 16px 0 16px 0;
      z-index: 0;
    }
  }

  .bottom-nav {
    width: 100%;
  }

  .mode-toggle {
    text-align: center;
    padding-block: 24px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .avatar {
    text-align: center;
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}
