/* Layout Containers */
.main-container {
  min-height: 100vh;
  display: flex;
}

.nav-container {
  width: 103px;
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 16px 16px 0;
  position: fixed;
  height: 100vh;
  z-index: 1;
}

/* Logo Section */
.nav-container .logo {
  background: var(--color-primary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 32px;
  border-radius: 0 16px 16px 0;
  position: relative;
}

.nav-container .logo img {
  z-index: 1;
  height: 40px;
  width: 40px;
}

.nav-container .logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--color-primary-light);
  border-radius: 16px 0 16px 0;
  z-index: 0;
}

/* Bottom Navigation */
.nav-container .bottom-nav {
  width: 100%;
}

.nav-container .mode-toggle {
  text-align: center;
  padding-block: 24px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.nav-container .mode-toggle:hover {
  background-color: var(--color-light-black);
}

.nav-container .mode-toggle img {
  width: 20px;
  height: 20px;
}

.nav-container .avatar {
  text-align: center;
  padding: 16px;
  border-top: 1px solid var(--color-light-black);
}

.nav-container .avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }

  /* nav */
  .nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    position: relative;
  }

  .nav-container .logo {
    width: 80px;
    height: 80px;
  }

  .nav-container .logo img {
    width: 28px;
    height: 26px;
  }

  .nav-container .bottom-nav {
    display: flex;
    align-items: center;
  }
  .nav-container .mode-toggle {
    margin-left: auto;
    padding: 28px;
    border-right: 1px solid var(--color-light-black);
  }

  .nav-container .bottom-nav .avatar {
    padding: 0;
    margin-inline: 20px;
    border-top: none;
  }
}
