/* breakpoints */
@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }
  .nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    position: relative;
  }

  .nav-container .logo {
    width: 80px;
    height: 80px;
  }

  .nav-container .logo img {
    width: 28px;
    height: 26px;
  }

  .nav-container .bottom-nav {
    display: flex;
    align-items: center;
  }
  .nav-container .mode-toggle {
    margin-left: auto;
    padding: 28px;
    border-right: 1px solid var(--color-light-black);
  }

  .nav-container .bottom-nav .avatar {
    padding: 0;
    margin-inline: 20px;
    border-top: none;
  }

  .form-drawer {
    left: 0;
    width: 616px;
    top: 80px;
  }

  .form-drawer .form-wrapper {
    padding: 56px 56px 180px 56px;
  }

  .form-drawer .form-controls {
    bottom: 80px;
    width: calc(616px - 20px);
  }

  .invoice-container {
    padding-left: 0;

    max-width: 768px;
    padding: 20px;
  }
}
@media (max-width: 365px) {
}
